.check-true{
  text-decoration: line-through;
}
.edit {
    display: none;
    border-width:0px;
    border:none;
}
.edit:focus {
  outline: none ;
}
.editing .view {
  display: none;
}
.editing .edit {
  display: block;
  margin: 0;
}

.cell{
  width: 100px;
  height: 100px;
  font: 90px sans-serif;
  text-align: center;
  vertical-align: center;
}